## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [12]:
a = 100
print (a);

100

2) Imprimir el tipo de dato de la constante 8.5

In [14]:
const = True
type (const)

bool

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [15]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [18]:
nombre = "Marcelo Pena"
print(nombre)

Marcelo Pena

5) Crear una variable que contenga un número complejo

In [16]:
numi= (5, 6j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [19]:
type(numi)

tuple

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [28]:
# variable bool
var1 = True;
type(var1)
# variable string
var2 = "True";
type(var2)

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [38]:
print(type(var1), type(var2));

<class 'bool'> <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [36]:
suma = 2 + 2.2;
print(suma);

4.2

11) Realizar una operación de suma de números complejos

In [39]:
a = (2, 2j)
b = (4, 4j)
suma = a + b
print(suma)

(2, 2j, 4, 4j)

12) Realizar una operación de suma de un número real y otro complejo

In [42]:
d = 50
e = 50 + 10j;
suma = a + b
print(suma);

(100+10j)

13) Realizar una operación de multiplicación

In [43]:
print(3*10)

30

14) Mostrar el resultado de elevar 2 a la octava potencia

In [44]:
print(2E8)

200000000.0

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [45]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [52]:
entero = 27//4
print(entero)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [53]:
resto = 27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [56]:
operando = 4
resultado = entero * operando + resto
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [58]:
print("Hola" + " " + "Mundo!")

Hola Mundo!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [62]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [67]:
str(2) == "2"

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [73]:
print(float(3.8));

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [75]:
num = 3
num -= 1
print(num)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [81]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [82]:
print(2 + "2");

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string