## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a = 1
a

1

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [ ]:
name = "Marcelo"

5) Crear una variable que contenga un número complejo

In [7]:
comp = (4, 6j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(comp)

tuple

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
a = 'True'
b = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
type(b)

bool

In [19]:
type(a)

str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
sum = 4+4.5

11) Realizar una operación de suma de números complejos

In [25]:
a = (2 + 2j)
b = (3 + 3j)
sum = a+b
print(sum)

(5+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [28]:
r = 4
print (r+a)

(6+2j)

13) Realizar una operación de multiplicación

In [29]:
print (r*r)

16

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [33]:
coc = 27/4
coc

6.75

16) De la división anterior solamente mostrar la parte entera

In [35]:
ent = 27//4
ent

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
res = 27%4
res

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
ent * 4 + res

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [43]:
alf = "A"+"2"
alf

'A2'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [45]:
2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [46]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [51]:
# porque '3,8' lo toma como una cadena de strings
a = float('3.8')
a

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
a = 3

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [59]:
1 << 2
#00000001 ----> 0000000020 ---------> 0000000100

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [60]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [61]:
2 * "int"

'intint'